<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <header>
        <div class="header">
            <a href="/">
                <img src="/static/images/insta.png" alt="insta" style="width:42px;height:42px;">
            </a>
        </div>
        <div class="header"><h2>insta485</h2></div>
        <div class="header">
            <h2>login</h2>
        </div>
    </header>

    <div>
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required/>
            <input type="text" name="fullname" required/>
            <input type="text" name="username" required/>
            <input type="text" name="email" required/>
            <input type="password" name="password" required/>
            <input type="submit" name="signup" value="sign up"/>
            <input type="hidden" name="operation" value="create"/>
        </form>
    </div>
    <div>
        <a href="/accounts/login/">
            Have an account? Log in
        </a>

    </div>
</body>
</html>