<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>insta485</title>
    </head>
    <body>
        <header>
            <div class="header">
                <a href="/">
                    <img src="/static/images/insta.png" alt="insta" style="width:42px;height:42px;">
                </a>
            </div>
            <div class="header"><h2>insta485</h2></div>
            <div class="header">
                <a href="/explore/">explore</a>
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </div>
        </header>
        <div id="reactEntry">
            Loading ...
        </div>
        <!-- Load JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    </body>
</html>