<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <header>
        <div class="header">
            <a href="/">
                <img src="/static/images/insta.png" alt="insta" style="width:42px;height:42px;">
            </a>
        </div>
        <div class="header"><h2>insta485</h2></div>
        <div class="header">
            <a href="/explore/">explore</a>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
    </header>

    <div>
        <div>
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                <input type="password" name="password" required/>
                <input type="password" name="new_password1" required/>
                <input type="password" name="new_password2" required/>
                <input type="submit" name="update_password" value="submit"/>
                <input type="hidden" name="operation" value="update_password"/>
            </form>
        </div>
        <div>
            <a href="/accounts/edit/">Back to edit account</a>
        </div>
    </div>
</body>
</html>
